<header role="banner" class="sm--text-align--center">
  {% if collection.image and section.settings.show_collection_image %}
  <div class="mb3 md--up--mb4 md--up--four-fifths mx--auto">
    {% assign image = collection.image  %}
    {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
    {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
      <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
        <img id="{{ img_id }}"
             class="resp-img lazyload"
             data-src="{{ img_url }}"
             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
             data-aspectratio="{{ image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ image.alt | escape }}">
        <img id="{{ img_id }}"
             class="resp-img-placeholder"
             src="{{ image | img_url: '1x1' }}"
             width="{{ image.width }}"
             height="{{ image.height }}"
             alt="{{ image.alt | escape }}">
      </div>
    </div>
    <noscript>
      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
    </noscript>
  </div>
  {% endif %}

  <div class="md--up--flex">
    <div class="mt3 md--up--mt0 md--up--one-whole md--up--flex md--up--text-align--right">
      {% include 'collection-sorting' %}
    </div>
  </div>

</header>