<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{%- include 'global-variables' -%}

{%- unless grid_item_width -%}
  {%- assign grid_item_width = 'md-dn--one-half lg---up--one-third wd--one-third' -%}
{%- endunless -%}

{%- unless section_color -%}
  {%- assign section_color = 'primary' -%}
{%- endunless -%}

{%- comment -%}
  Check if the product is on sale and set a variable to be used below.
{%- endcomment -%}
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- comment -%}
  Check if the product is sold out and set a variable to be used below.
{%- endcomment -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- comment -%}
  Check if the product is available for local pickup
{%- endcomment -%}
{% assign local = false %}
{% assign local_pickup = false %}

{% for tag in product.tags %}
  {% assign tag_compact = tag | handle | replace: '-', '' %}
  {% if tag_compact == 'local' %}
    {% assign local = true %}
  {% elsif tag_compact == 'localpickup' %}
    {% assign local_pickup = true %}
  {% endif %}
{% endfor %}



<a href="{{ product.url | within: collection }}" class="product-grid-item  sm--text-align--center md--up--text-align--left relative ">
  {% unless product.featured_image == blank %}
    {%- assign ratio = product.featured_image.aspect_ratio -%}
    {%- assign force_crop = false -%}
    {%- if ratio < 0.5 -%}
      {%- assign force_crop = true -%}
      {%- assign ratio = 1 -%}
    {%- endif -%}
    {% capture img_id %}ProductImage-{{ product.featured_image.id }}{% endcapture %}
    {% capture wrapper_id %}ProductImageWrapper-{{ product.featured_image.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    <div class="relative">
      <div id="{{ wrapper_id }}" class="resp-img-wrapper1 {% if force_crop %}force-crop{% endif %} js">
        {% if settings.products_show_badges %}
          <div class="absolute top--0 right--0 pt2 pr2 z2 text-align--center">
            {% if local or local_pickup %}
              <div class="p1 mb1 font-size--s bg--{{ section_color }}-text color--{{ section_color }}-text--overlay">
                {% comment %} Pickup only is more specific so show that first (in case both tags are present..) {% endcomment %}
                {% if local_pickup %}
                  Pickup Only
                {% else %}
                  Pickup & NYC Delivery Only
                {% endif %}
              </div>
            {% endif %}

            {% if sold_out %}
              <div class="p1 font-size--s bg--{{ section_color }}-text color--{{ section_color }}-text--overlay">{{ 'products.product.sold_out' | t }}</div>
            {% elsif on_sale %}
              <div class="p1 font-size--s bg--{{ section_color }}-accent color--{{ section_color }}-accent--overlay">{{ 'products.product.on_sale' | t }}</div>
            {% endif %}
          </div>
        {% endif %}
        <div style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;">
          <img id="{{ img_id }}"
              class="resp-img lazyload"
              width="{{ product.featured_image.width }}"
              height="{{ product.featured_image.height }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ ratio }}"
              data-ratio="{{ ratio }}"
              data-sizes="auto"
              alt="{{ product.featured_image.alt | escape }}">
          <img id="{{ img_id }}"
                class="resp-img-placeholder"
                src="{{ product.featured_image | img_url: '1x1' }}"
                width="{{ product.featured_image.width }}"
                height="{{ product.featured_image.height }}"
                alt="{{ product.featured_image.alt | escape }}">
        </div>
      </div>
      <noscript>
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="product__img">
      </noscript>

      {% if product.images.size > 1 and settings.products_show_second_image_on_hover %} 
        {% assign hover_image = product.images[1] %}
        <div class="product-item-hover absolute top--0 right--0 bottom--0 left--0 z1 lazyload bg-cover"
              data-bgset="{% include 'bgset', image: hover_image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="background-image: url({{ hover_image | img_url: '300x300' }});">
        </div>
      {% endif %}
      
    </div>
  {% endunless %}

  <div class="color--{{ section_color }}-text mt1 {{ global__basic_font_size }}">{{ product.title }}</div>

  <p class="{% if on_sale %}color--{{ section_color }}-accent{% else %}color--{{ section_color }}-meta{% endif %} m0 {{ global__basic_font_size }}">
    {% if sold_out %}
      <span class="sold-out color--{{ section_color }}-meta {% if on_sale %}mr1{% endif %}">{{ 'products.product.sold_out' | t }}</span>
    {% else %}
      <span {% if on_sale %}class="mr1"{% endif %}>
        {% if on_sale %}
          {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.from_text_html' | t: price: sale_price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
    {% if on_sale and sold_out != true %}
      <s class="color--{{ section_color }}-meta">{{ product.compare_at_price | money }}</s>
    {% endif %}
  </p>
</a>