<div class="grid">
  
  <div class="grid__item md--up--one-half">
    <div class="product__images relative md--up--text-align--right font-size--0">
        {% assign feature_image_class = 'one-whole px2 md--up--px0 md--up--one-whole wd--seven-eighths' %}
        <div class="product__feature-image {{ feature_image_class }} {{ product_feature_image_grid }} inline-block">
          <div class="placeholder-img-wrapper {{ placeholder_bg }}">
            <div style="padding-top:{% cycle '133.3', '66.6', '100' %}%;" class="relative">
              {{ 'product-1' | placeholder_svg_tag }}
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="grid__item md--up--one-half">
    <div class="lg--up--pl3 wd--pt3">
      <div class="px2 mt3 max-width--1 md--up--pt0 lg--up--px3">

        <h1 class="f--heading {{ global__heading_size }} m0">{{ 'homepage.onboarding.product_title' | t  }}</h1>
        <div class="font-size--ml" data-price-wrapper>
          <span data-product-price>
            {{ current_variant.price | money }}
          </span>
          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </div>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
          <div id="AddToCartForm--{{ section.id }}" class="form-vertical">
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js mt2 font-size--m">
                    {% unless section.settings.hide_drop_down_labels %}
                    <label class="block" for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    {% endunless %}
                    <select
                      class="bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text p1 block full--w font-size--sm mt1"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-single-option-selector
                      data-index="option{{ option.position }}">
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              {% endunless %}

              <select name="id" class="no-js" data-product-select>
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>

              {% if section.settings.show_quantity %}
              <div class="mt2 font-size--m flex items--center">
                <div class="pr2">
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                </div>
                <div class="flex--1 js-qty-wrapper color--{{ section_color }}-text">
                  <input class="bg--transparent border--{{ section_color }}-text p1 font-size--sm mt1" type="number" id="Quantity" name="quantity" value="1" min="1">
                </div>
              </div>
              {% endif %}

              <div class="add-to-cart-container mt3 {% unless current_variant.available %}hide-pay-buttons{% endunless %}  {% if section.settings.enable_payment_button %}cta-content--pay-buttons{% endif %}" data-add-to-cart-container>
                <button
                  class="btn border--none bg--{{ section_color }}-text color--{{ section_color }}-text--overlay p1 full--w block"
                  type="submit"
                  name="add"
                  id="AddToCart--{{ section.id }}"
                  data-add-to-cart
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                    <span data-add-to-cart-text>
                      {{ 'products.product.add_to_cart' | t }}
                    </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {% assign payment_button_color = 'primary' %}
                  {% if text_color == 'primary' %}
                  {% assign payment_button_color = 'main' %}
                  {% endif %}
                  <div class="mt2 payment-button-wrapper color--{{ payment_button_color }}">{{ form | payment_button }}</div>
                {% endif %}
              </div>
              </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>