<div id="global-header">
  <div class="main-nav">
    <div class="__grid __grid-no-gutter">
      <div class="col-10-20 mobile-nav-header">
        <div class="open">
          <div class="wrapper">
            <div class="menu">
              <ul>
                {% for link in linklists[section.settings.main_linklist].links %}
                  <li><a href="{{link.url}}">{{link.title}}</a></li>
              	{% endfor %}  
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop-nav-header">
        <div class="menu-left col-no-gutter menu" data-behavior="toggle-nav-height">
          <ul class="t--header-navigation site-nav list--reset m0 p0 font-size--xll no-wrap inline-block">
            {% for link in linklists[section.settings.main_linklist].links %}
              {% assign child_handle = link.title | handleize %}
              {% assign outer_index = forloop.index %}
              {% assign submenu_image_setting_handle = 'image_menu' | append: outer_index %}
              {% assign submenu_image_title_setting_handle = 'image_menu' | append: outer_index | append: '_title' %}
              {% assign submenu_image_color_setting_handle = 'image_menu' | append: outer_index | append: '_color' %}
              {% assign submenu_image_link_setting_handle = 'image_menu' | append: outer_index | append: '_link' %}

              {% assign submenu_image = section.settings[submenu_image_setting_handle] %}
              {% assign submenu_image_title = section.settings[submenu_image_title_setting_handle] %}
              {% assign submenu_image_color = section.settings[submenu_image_color_setting_handle] %}
              {% assign submenu_image_link = section.settings[submenu_image_link_setting_handle] %}

              <li class="nav__item inline-block">
                <a href="{{ link.url }}">{{ link.title }}</a>
                
                {% if link.links != blank %}
                  <div class="nav-content">
                    <div class="sub-content-container">
                      {% if submenu_image != blank %}
                        <div class="submenu-image">
                          {% if submenu_image_link != blank %}
                            <a href="{{ submenu_image_link }}">
                          {% endif %}

                          <img src="{{ submenu_image | img_url: '450x' }}" />
                          {% if submenu_image_title != blank %}
                            <span class="submenu-image__title f--heading font-size--xxl line-height--6 color--{{ submenu_image_color }}-text">
                              {{ submenu_image_title }}
                            </span>
                          {% endif %}

                          {% if submenu_image_link != blank %}
                            </a>
                          {% endif %} 
                        </div>
                      {% endif %}

                      {% assign subsublinks_left_col_html = blank %}
                      {% assign subsublinks_right_col_html = blank %}

                      {% comment %} We have sublinks! {% endcomment %}
                      {% for sublink in link.links %}
                        {% capture subsublinks_left_col_html %}
                          {% for subsublink in sublink.links %}
                            {% if forloop.index >= 6 %}
                              {% break %}
                            {% endif %}
                            <li style="width: auto !important; display: block;"><a href="{{subsublink.url}}" style="display: inline-block;">{{subsublink.title}}</a></li>
                          {% endfor %}
                        {% endcapture %}

                        {% capture subsublinks_right_col_html %}
                          {% for subsublink in sublink.links  %}
                            {% if forloop.index < 6 %}
                              {% continue %}
                            {% endif %}
                            <li style="width: auto !important; display: block;"><a href="{{subsublink.url}}" style="display: inline-block;">{{subsublink.title}}</a></li>
                          {% endfor %}
                        {% endcapture %}

                        <div class="sub-content sub-menu-link links">
                          <div style="color: #102f2c; font-size: 20px; margin-bottom: 3px;">{{ sublink.title }}</div>
                          <div style="display: flex;">
                            {% if subsublinks_left_col_html != blank %}
                              <ul class="left-ul" style="float: none; width: auto;">
                                {{ subsublinks_left_col_html }}
                              </ul>
                            {% endif %}
                            {% if subsublinks_right_col_html != blank %}
                              <ul class="right-ul" style="float: none; width: auto; margin-left: 30px;">
                                {{ subsublinks_right_col_html }}
                              </ul>
                            {% endif %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </li>
          	{% endfor %}
          </ul>
          <div class="nav-content-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
