{%- assign section_color = 'primary' -%}
{%- include 'global-variables' -%}

{%- assign show_author = false -%}
{%- assign show_date = false  -%}
{%- assign show_excerpt = false  -%}
{%- assign show_tags = false  -%}
{%- assign show_link = false  -%}
{%- assign posts_per_row_desktop = 'one-quarter' -%}

{%- assign layout = 'grid' -%}

{% assign first_letters = '' %}

{% paginate blog.articles by 500 %}

  {% capture grid_html %}
    {% comment %}{% include 'blog__grid' %}{% endcomment %}
    <div class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4" data-alpha-grid>
      {% for article in blog.articles %}
        <div class="product-grid-item grid__item sm--one-whole md--up--{{ posts_per_row_desktop }} mt3 lg--up--mt4" data-alpha="{{ article.title | handle }}">
          {% assign blog_page = true %}
          {% include 'article-grid-item' %}
        </div>

        {% assign first_letter = article.title | downcase | slice: 0 %}
        {% assign first_letters = first_letters | append: first_letter | append: ' ' %}
      {% endfor %}
    </div>  
  {% endcapture %}

  <section class="blog {{ global__section_with_padding_class }} color--{{ section_color }}-meta bg--{{ section_color }}-background" data-section-type="blog-library" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}">
    <div class="max-site-width px2 lg--up--px3">

      {% assign first_letters_array = first_letters | split: ' ' | uniq | sort %}

      {% comment %}{% include 'blog__header' %}{% endcomment %}
      <div>
        <div class="lg--up--flex">
          <div class="lg--up--self--end">
            <h1 class="f--heading font-size--xxxl line-height-6 lg--up--font-size--xxxxl m0 pb1">{{ blog.title }}</h1>

            {% if first_letters_array.size > 1 %}
              <div class="mt3 lg--up--mt0 lg--up--flex">
                {% include 'library-blog-navigation', letters_array: first_letters_array %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="grid mt3 lg--up--mt31">
        <div class="grid__item pt1">
          {{ grid_html }}
        </div>
      </div>

    </div>
  </section>

{% endpaginate %}


{% schema %}
  {
    "name": "Blog pages",
    "class": "blog-template",
    "settings": []
  }
{% endschema %}
