{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign grid_item_width = '' -%}
{%- case section.settings.no_posts -%}
  {%- when '3' -%}
    {%- assign grid_item_width = 'lg--up--one-third' -%}
  {%- when '4' -%}
    {%- assign grid_item_width = 'lg--up--one-quarter' -%}
  {%- when '6' -%}
    {%- assign grid_item_width = 'lg--up--one-third' -%}
  {%- when '8' -%}
    {%- assign grid_item_width = 'lg--up--one-quarter' -%}
{%- endcase -%}

<section class="featured-collection {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background"
        data-accesstoken="{{ section.settings.instagram_access_token | escape }}"
        data-noposts="{{ section.settings.no_posts }}"
        data-section-type="instagram"
        data-section-id="{{ section.id }}"
        {% if section.settings.crop_as_square %}data-crop-square="true"{% endif %}
        {% if section.settings.show_caption %}data-show-caption="true"{% endif %}
        {% if section.settings.show_instagram_link %}data-show-link="true"{% endif %}
        {% if section.settings.instagram_access_token and section.settings.title == blank %}data-show-title="true"{% endif %}>
  <div class="max-site-width outer-container">

    {%- assign collection = collections[section.settings.collection] -%}

    <div class="lg--up--grid">
      <div class="lg--up--grid__item lg--up--one-quarter">
        <div class="pb3 lg--up--px0">

          {% if section.settings.title == blank %}
            {% if section.settings.instagram_access_token != '' %}
              <h2 class="instagram-title {{ global__heading_font_size }}"></h2>
            {% else %}
              <h2 class="instagram-title {{ global__heading_font_size }}">{{ 'homepage.onboarding.collection_title' | t }}</h2>
            {% endif %}
          {% else %}
            <h2 class="{{ global__heading_font_size }}">{{ section.settings.title }}</h2>
          {% endif %}

          {% if section.settings.subheading != blank %}
            <div class="{{ global__basic_font_size }}">
              {{ section.settings.subheading }}
            </div>
          {% endif %}

          {% if section.settings.show_instagram_link and section.settings.instagram_access_token != '' %}
          <a class="instagram-link inline-block {{ global__homepage_more_link }} {{ global__basic_font_size }}  {{ global__link_underline }}  {{ global__hover_underline }}" href="" target="_blank" >
            {{ 'layout.social.follow' | t: platform: 'Instagram' }}
          </a>
          {% endif %}

        </div>
      </div>
      <div class="lg--up--grid__item lg--up--three-quarters">
        <div class="instagram-container relative md--dn--flush-container">
          <div class="mobile-flickity__slides pb3 lg--up--grid grid--uniform lg--up--mtn3 instagram-container__posts">
            {% if section.settings.instagram_access_token != '' %}
              <div class=" nine-twelfths md--six-twelfths lg--up--grid__item {{ grid_item_width }} lg--up--mt3 gram-item-blank hide">
                <div class="px-gutter lg--up--px0 t--list-and-grid">
                  <a href="" target="_blank" class="color--{{ section_color }}-text">
                    {% if section.settings.crop_as_square %}
                      <div class="ratio-box lazyload" style="background-size: cover;">
                        <div class="ratio-box__content"></div>
                      </div>
                    {% else %}
                      <img class="gram-image" src="" />
                    {% endif %}
                    {% if section.settings.show_caption %}
                    <div class="gram-caption font-size--sm pt2 line-height--3"></div>
                    {% endif %}
                  </a>
                </div>
              </div>
            {% else %}
              {% for i in (1..section.settings.no_posts) %}
              <div class="nine-twelfths md--six-twelfths lg--up--grid__item {{ grid_item_width }} lg--up--mt3">
                <div class="px-gutter lg--up--px0 t--list-and-grid">
                  <div class="{{ placeholder_bg }}">
                    {{ 'image' | placeholder_svg_tag }}
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="lg--up--hide">
            <div class="spacer pt1"></div>
            <div class='mobile-flickity__button-container absolute bottom--0 right--0 pt1 pr2'>
              <button class="btn border--none bg--transparent btn--next color--{{ section_color }}-text hv--{{ section_color }}-accent font-size--sm">{% include 'icon-next' %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Instagram",
  "class": "section-instagram",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram",
      "info": "Leave blank, username of Instagram account will be shown."
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading",
      "default": "Use this text to share instagram posts with your customers."
    },
    {
      "type": "checkbox",
      "id": "show_instagram_link",
      "label": "Show link to Instagram account",
      "default": true
    },
    {
       "type": "text",
       "id": "instagram_access_token",
       "label": "Instagram access token",
       "info": "See: [Grab your Instagram Access Token](http://www.switchthemes.co/instagram)"
    },
    {
       "type": "select",
       "id": "no_posts",
       "options": [
       { "value": "3", "label": "3"},
       { "value": "4", "label": "4"},
       { "value": "6", "label": "6"},
       { "value": "8", "label": "8"}
       ],
       "label": "Number of posts"
    },
    {
      "type": "checkbox",
      "id": "show_caption",
      "label": "Show caption",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "crop_as_square",
      "label": "Crop images to square",
      "default": false
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary ", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social media"
    }
  ]
}
{% endschema %}