{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}


{% capture nextPrevProducts %}
<div class="next-prev-section">
    <div class="grid sm--mln1">
      <div class="grid__item one-whole sm--pl1">
        <div class="grid mb2 sm--mln1">
          {% if collection.previous_product %}
          {% capture previous_url %}{{ collection.previous_product}}#content{% endcapture %}
          {% assign prod_title = collection.previous_product | split : 'products/' %}
          {% assign prod_handle = prod_title[1] %}
          <div class="mt3 grid__item one-half previous__product sm--text-align--center sm--pl1">
            <a href="{{ previous_url }}">
              <img src="{{ all_products[prod_handle].images.first | img_url : 'original' }}" class="product--featured_image" alt="{{ all_products[prod_handle].title }}" />
              <span class="prod_title font-size--ml">{{ all_products[prod_handle].title }}</span>
            </a>
          </div>
          {% endif %}
          {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          {% assign prod_title1 = collection.next_product | split : 'products/' %}
          {% assign prod_handle1 = prod_title1[1] %}
          <div class="mt3 grid__item one-half next__product sm--text-align--center sm--pl1">
            <a href="{{ next_url }}">
              <img src="{{ all_products[prod_handle1].images.first | img_url : 'original' }}" class="product--featured_image" alt="{{ all_products[prod_handle1].title }}" />
              <span class="prod_title font-size--ml">{{ all_products[prod_handle1].title }}</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endcapture nextPrevProducts %}

<div class="product" data-section-id="{{ section.id }}" data-product-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  <section class="color--{{ section_color }}-text bg--{{ section_color }}-background {{ global__section_with_padding_class }}">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    {%- assign hide_drop_down_labels = section.settings.hide_drop_down_labels -%}
    {%- assign show_quantity = section.settings.show_quantity -%}
    {%- assign enable_payment_button = section.settings.enable_payment_button -%}
    {%- assign show_share_links = section.settings.show_share_buttons -%}

    {%- assign description_under_add_to_cart = section.settings.description_under_add_to_cart -%}

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

    <div class="max-site-width md--up--px2 lg--up--px3">
      {% assign feature_product = false %}
      {% assign section_id = section.id %}
      {% include 'product__top-section' %}
      
    </div>

    {% unless product == empty %}
    <script type="application/json" data-product-json>
        {{ product | json }}
    </script>
    {% endunless %}

  </section>
  
{%- assign section_color = section.settings.description_color_scheme -%}
{%- include 'global-variables' -%}

  	{% if product.description contains '<!-- split -->' %}
   	{% assign prod =  product.description | split :'<!-- split -->'  %}
    {% if prod[2] != null %}
  <div class="splited-description max-site-width md--up--px2 lg--up--px3 sm--px30 color--{{ section_color }}-text bg--{{ section_color }}-background ">
      <div class="lg--up--seven-eighths mx--auto">
        
        {{prod[2]}}
        
    </div></div>
      {% endif %}{% endif %}
  
  {% if section_color ==  section.settings.description_color_scheme %}
  {% assign description_padding = 'pb4 lg-up--pb5 lg-up--pt3' %}
  {% else %}
  {% assign description_padding = global__section_with_padding_class %}
  {% endif %}

  {% unless description_under_add_to_cart %}
  {% if product.description != empty or product.description != '' %}
  {% assign section_color = section.settings.description_color_scheme %}
  {% include 'global-variables' %}
  <div class="product__description {{ description_padding }} color--{{ section_color }}-text bg--{{ section_color }}-background">
    <div class="max-site-width px2 lg--up--px3">
      <div class="rte mx--auto {{ global__basic_font_size }} {% unless section.settings.enable_split_description %}max-width--3{% endunless %}" id="productDescription" {% if section.settings.enable_split_description %}data-split="true"{% endif %} data-fade-in="{{ fade_in }}" data-product-description>
        {{ product.description }}
      </div>
    </div>
  </div>
  {% endif %}
  {% endunless %}

  {% if section.settings.show_related_products %}
  {% assign section_color = section.settings.related_products_color_scheme %}
  {% include 'global-variables' %}
  <div id="shopify-section-{{ section.id }}-related-products" class="shopify-section color--{{ section_color }}-text bg--{{ section_color }}-background" data-related-products>
    {% include 'related-products' %}
  </div>
  {% endif %}
  
  {% include 'next-prev-product' %}
  
</div>

{% schema %}
{
"name": "Product pages",
"class" : "section-product_page",
"settings": [
{
"type": "select",
"id": "color_scheme",
"label": "Color scheme",
"options": [
{ "value": "primary", "label": "Primary"},
{ "value": "secondary ", "label": "Secondary"},
{ "value": "tertiary", "label": "Tertiary"}
]
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": "Show dynamic checkout button",
"info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"default": true
},
{
"type": "checkbox",
"id": "show_quantity",
"label": "Show quantity option"
},
{
"type": "checkbox",
"id": "hide_drop_down_labels",
"label": "Hide label on selects"
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social media sharing buttons",
"default": true
},
{
"type": "checkbox",
"id": "next-prev-section",
"label": "Show next previous section",
"default": true
},
{
"type":      "header",
"content":   "Product description"
},
{
"type":      "paragraph",
"content":   "Automatically split your product description into separate blocks based on images."
},
{
"type": "checkbox",
"id": "enable_split_description",
"label": "Enable split product description",
"default": true
},
{
"type":      "paragraph",
"content":   "[Learn more about this feature](https://support.switchthemes.co/article/91-product-page-descriptions)."
},
{
"type": "select",
"id": "description_color_scheme",
"label": "Color scheme",
"options": [
{ "value": "primary", "label": "Primary"},
{ "value": "secondary ", "label": "Secondary"},
{ "value": "tertiary", "label": "Tertiary"}
]
},
{
"type": "checkbox",
"id": "description_under_add_to_cart",
"label": "Move product description to underneath add to cart",
"default": false,
"info": "If enabled, split product description and color scheme won't apply."
},
{
"type":      "header",
"content":   "Related products"
},
{
"type": "checkbox",
"id": "show_related_products",
"label": "Show related products"
},
{
"type": "select",
"id": "related_products_color_scheme",
"label": "Color scheme",
"options": [
{ "value": "primary", "label": "Primary"},
{ "value": "secondary ", "label": "Secondary"},
{ "value": "tertiary", "label": "Tertiary"},
{ "value": "custom", "label": "Custom"}
]
}
]
}
{% endschema %}
